Cross-domain cookie leakage in Guzzle package

Recently I found that the `guzzlehttp/guzzle` composer package has a potential security vulnerability between `7.0.0`  to `7.4.3`. It was resolved by the latest version `7.4.3`.

Current version: 7.2.0
Patched version: 7.4.3

**Impact**
The previous version of Guzzle contains a vulnerability with the cookie middleware. The vulnerability is that it is not checked if the cookie domain equals the domain of the server which sets the cookie via the Set-Cookie header, allowing a malicious server to set cookies for unrelated domains. For example, an attacker at www.example.com might set a session cookie for api.example.net, logging the Guzzle client into their account and retrieving private API requests from the security log of their account.

**References**
[RFC6265 Section 5.3](https://datatracker.ietf.org/doc/html/rfc6265#section-5.3)
